@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.85em;
  letter-spacing: 3;
  font-family: "Kumbh Sans", sans-serif;
}

/* Colors */

:root {
  /* Primary */
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* Neutral */
  --very-vark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

.nav__menu {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
  gap: 1.3rem;
  position: relative;
}

.logo { margin-bottom: 5px;}

.cart-icon {margin-left: auto;}

.avatar { width: 30px; border-radius: 50%;}

.nav__list-menu {
  display: none;
  width: 50%;
  height: 100%;
  background-color: var(--White);
  z-index: 2;
  transition: all 2s ease-in-out;
}

.nav__list {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 400;
}

.nav__list li,
a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  list-style: none;
  padding: 3rem 1rem;
}

main{ display: flex; flex-wrap: wrap;}


.product-items {
  display: flex;
  overflow: hidden;
  width: 100%; 
  position: block;
}

.product-image {
  height: 380px;
  width: 100%;
  object-fit: contain;
  display: block;
}

.product__nav-icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 0 1.5rem;
  top: 200px;
}

.product__nav-icons img {
  background-color: var(--White);
  padding: 1rem;
  width: 43.9px;
  height: 43.9px;
  border-radius: 50%;
}

.product__thumbnail {
  display: none;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 5px;
}

.thumbnail-img {width: 110px; border-radius: 12px;}
.thumbnail-img:hover{
  opacity: .5;
}

.product__description {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.d__company-name {
  color: var(--Orange);
  font-size: 1.1em;
  font-weight: 700;
}

.p__description-title {padding: 0.65rem 3rem 0.65rem 0; font-weight: 700;}

.p-text {
  color: var(--dark-grayish-blue);
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
}
.prices {display: flex; align-items: center;}

.price {
  font-size: 2rem;
  margin-right: 20px;
  font-weight: 700;
}

.discount {
  background-color: var(--Pale-orange);
  color: var(--Orange);
  font-weight: 700;
  border-radius: 5px;
  padding: 4px 7px;
}

.old-price {
  margin-left: auto;
  text-decoration: line-through;
  color: var(--grayish-blue);
}

button {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  margin: 1rem 0;
}

.cart__toggle-btn {display: flex; justify-content: space-between;}

.add__to-cart {
  background-color: var(--Orange);
  color: var(--Pale-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.shopping-cart {
  width: 360px;
  min-height: 220px;
  position: absolute;
  background-color: var(--White);
  border-radius: 9px;
  top: 80px;
  right: 15px;
  display: none;
  z-index: 3;

  box-shadow: 0 5px 6px rgba(0, 0, 0, .2);
}

.cart-items {
  padding: 1.5rem;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-grayish-blue);
}
.checkout-btn{
  background-color: var(--Orange);
  color: var(--White);
  border-radius: 5px;
  border: none;
}
.item-img{
  width: 50px;
  border-radius: 5px;
}
.total-amt{
  color: var(--Black);
}
.active {
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 700px) {
  body {padding: 0 7rem;}


  main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 4rem;
  }

  .avatar{ width: 60px;}
  .avatar:hover{ border: 1px solid var(--Orange);}

  .nav__menu{ border-bottom: .8px solid var(--grayish-blue);}

  .nav__list-menu {display: block; background-color: none;}
  
  .nav__items li, a:hover{border-bottom: 4px solid var(--Orange); color: var(--Black);}

  .nav__list-menu ul {display: flex;}

  .nav__menu-icon{display: none;}

  .nav-close {display: none;}

  .cart-icon{
    width: 50px;
  }
  .cart-icon:hover{
    fill: var(--Black);
  }

  .product__nav-icons {display: none;}


  .product-image {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    width: 550px;
  }

  .product {max-width: 40rem; flex-direction: column;}

  .p__description-title {font-size: 3rem; line-height: 1.4;}

  .product__description {max-width: 35rem; gap: 1.5rem;}

  .product__thumbnail {display: flex;}
  
  .add__to-cart {width: 50%;}
  .add__to-cart:hover{opacity: .7;}

  .cart__toggle-btn {width: 30%;}
  .cart__toggle-btn span:hover{opacity: .7;}

  .btns {display: flex; gap: 1rem;}

  .prices{width: 1; word-break: break-all;}
  .old-price {display: block !important;}

}

@media screen and (max-width: 686px) {
}

@media screen and (max-width: 375p) {
}
